<element name="gantt-event" attributes="message duration start zoom projectStart">

    <link rel="stylesheet" href="gantt-event.css">

    <template>
        <div id="thumb" touch-action="pan-y" on-trackstart="trackStart" on-track="track"
              on-trackend="trackEnd">
            <div id="modifyStartHandle" touch-action="pan-y" class="handle" on-trackstart="trackStart" on-track="track"
                  on-trackend="trackEnd"></div>
                  <div id="plus" class="plus">+</div>
            {{messagecalculated}}
            <div id="resizeHandle" touch-action="pan-y" class="handle" on-trackstart="trackStart" on-track="track"
                  on-trackend="trackEnd"></div>
        </div>
    </template>

    <script>
        Polymer.register(this, {
            message: '',
            duration: 500,
            start: 0,
            messagecalculated: '',
            state: null, // null, 'beingResized', 'startBeingModified' or 'beingMoved'
            zoom: 1.0,
            secondsPerPixel: 864, // show 1 day as 100px when zoom is 1.0
            projectStart: moment().startOf('month').unix(),
            position: 0,
            size: 0,
            cursor: null,
            ready: function () {
                this.durationChanged();
            },
            positionChanged: function() {
                this.$.thumb.style.left = this.position + 'px';
            },
            sizeChanged: function() {
                this.$.thumb.style.width = this.size + 'px';
            },
            cursorChanged: function() {
              this.$.resizeHandle.style.cursor = this.cursor;
              this.$.modifyStartHandle.style.cursor = this.cursor;
              this.$.thumb.style.cursor = this.cursor;
            },
            projectStartChanged: function () {
                this.position = this.convertTimeToPixels(this.start);
            },
            messageChanged: function () {
                this.docalc();
            },
            docalc: function () {
                this.messagecalculated = this.message + "";
            },
            zoomChanged: function () {
                this.startChanged();
                this.durationChanged();
            },
            durationChanged: function () {
                this.size = this.convertDurationToPixels(this.duration);
            },
            startChanged: function () {
                this.position = this.convertTimeToPixels(this.start);
            },
            convertDurationToPixels: function (duration) {
                return this.applyZoom(duration);
            },
            convertTimeToPixels: function (time) {
                return this.applyZoom(time - this.projectStart);
            },
            applyZoom: function (value, reverse) {
                return value * this.zoom / this.secondsPerPixel;
            },
            unapplyZoom: function (value) {
                return value * this.secondsPerPixel / this.zoom;
            },
            trackStart: function (e) {
                if (e.target == this.$.resizeHandle) {
                    this.state = 'beingResized';
                    this.cursor = 'e-resize';
                    this.oldDuration = this.duration;
                } else if (e.target == this.$.modifyStartHandle) {
                    this.state = 'startBeingModified';
                    this.cursor = 'w-resize';
                    this.oldStart = this.start;
                    this.oldDuration = this.duration;
                } else if (e.target == this.$.thumb) {
                    this.state = 'beingMoved';
                    this.cursor = 'move';
                    this.oldStart = this.start;
                }
            },
            track: function (e) {
                var scaledDx = this.unapplyZoom(e.dx);
                if (this.state == 'beingResized') {
                    this.size = this.convertDurationToPixels(this.newDuration = (this.oldDuration + scaledDx));
                } else if (this.state == 'startBeingModified') {
                    this.position = this.convertTimeToPixels(this.newStart = (this.oldStart + scaledDx));
                    this.size = this.convertDurationToPixels(this.newDuration = (this.oldDuration - scaledDx));
                } else if (this.state == 'beingMoved') {
                    this.position = this.convertTimeToPixels(this.newStart = (this.oldStart + scaledDx));
                }
                // ensure changes are propagated immediately for better tracking
                Platform.flush();
            },
            trackEnd: function () {
                if (this.state == 'beingResized') {
                    this.duration = this.newDuration;
                    delete this.oldDuration, this.newDuration;
                } else if (this.state == 'startBeingModified') {
                    this.start = this.newStart;
                    this.duration = this.newDuration;
                } else if (this.state == 'beingMoved') {
                    this.start = this.newStart;
                }
                this.cursor = null;
                this.state = null;
            }
        });
    </script>
</element>