<link rel="import" href="gantt-event.html">
<element name="gantt-chart-events" attributes="events zoom secondsPerPixel projectStart panStart">
    <template>
        <style>
            #eventsContainer {
                position: relative;
            }
        </style>
        <div id="eventsContainer" style="left: {{left}}px">
          <template id="events" repeat="{{event in events}}">
            <gantt-event
                message="{{event.thetitle}}"
                duration="{{event.duration}}"
                start="{{event.start}}"
                projectStart="{{projectStart}}"
                secondsPerPixel="{{secondsPerPixel}}"
                zoom="{{zoom}}"
            >...</gantt-event>
          </template>
        </div>
    </template>
    <script>
        Polymer.register(this, {
            zoom: 1.0,
            secondsPerPixel: 24 * 60 * 60 / 100, // show 1 day as 100px when zoom is 1.0
            projectStart: moment().startOf('month').unix(),
            panStart: moment().startOf('month').unix(),
            panStartChanged: function () {
                this.left = -this.convertTimeToPixels(this.panStart);
            },
            convertTimeToPixels: function (time) {
                return this.applyZoom(time - this.projectStart);
            },
            applyZoom: function (value) {
                return value * this.zoom / this.secondsPerPixel;
            }
        });
    </script>
</element>
