<element name="gantt-chart-timeline" attributes="zoom startTimestamp secondsPerPixel panStartTimestamp showZoomControl">
    <template>
        <style>
            @host {
              * {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                display: block;
              }
            }

            #timeline {
                cursor: pointer;
                background-color: lightblue;
                padding: 25px;
                width: 3000px;
                
                position: relative;
            }

            #zoomControl[showing=false] {
              display: none;
            }
        </style>
        <div>
            <input type="range" min="0.1" max="5" step="0.1" value="{{zoom}}" showing="{{showZoomControl}}" id="zoomControl">

            <div id="timelineContainer">
                <div id="timeline" style="left: {{left}}px" touch-action="pan-y" on-trackstart="trackStart" on-track="track"
                     on-trackend="trackEnd"></div>
            </div>
        </div>
    </template>
    <script>
        Polymer.register(this, {
            zoom: 1.0,
            showZoomControl: false,
            startTimestamp: moment().startOf('month').unix(),
            secondsPerPixel: 864, // show 1 day as 100px when zoom is 1.0
            panStartTimestamp: moment().startOf('month').unix(),
            insertedCallback: function () {
                this.reDrawTimeline();
            },
            reDrawTimeline: function () {
                this.left = this.convertPanStartTimestampToPixels(this.panStartTimestamp);
                /*
                console.warn('TODO');
                var
                        width = this.$.timeline.clientWidth,
                        timelineStartTimestamp = this.panStartTimestamp,
                        timelineEndTimestamp = timelineStartTimestamp + this.secondsPerPixel / this.zoom * width;
                console.log(
                        moment.unix(timelineStartTimestamp).format('LLLL'),
                        moment.unix(timelineEndTimestamp).format('LLLL'),
                        moment.unix(timelineStartTimestamp).diff(moment.unix(timelineEndTimestamp))
                );
                */
            },
            applyZoom: function (value, reverse) {
                if (reverse)
                    return value / this.zoom * this.secondsPerPixel;
                return value * this.zoom / this.secondsPerPixel;
            },
            convertPanStartTimestampToPixels: function (panStartTimestamp) {
                return (this.applyZoom(this.startTimestamp - panStartTimestamp));
            },
            panStartTimestampChanged: function () {
                this.reDrawTimeline();
            },
            zoomChanged: function () {
                this.reDrawTimeline();
            },
            trackStart: function (e) {
                this.$.timeline.style.cursor = 'move';
                this.oldPanStartTimestamp = this.panStartTimestamp;
            },
            track: function (e) {
                this.newPanStartTimestamp = this.oldPanStartTimestamp - this.applyZoom(e.dx, true);
                this.panStartTimestamp = this.newPanStartTimestamp;
                // ensure changes are propagated at next microtask so event positions are updated before painting
                Platform.flush();
            },
            trackEnd: function (e) {
                this.$.timeline.style.cursor = null;
            },
            startTimestampChanged: function () {
                this.reDrawTimeline();
            },
            secondsPerPixelChanged: function () {
                console.warn('TODO');
            }
        });
    </script>
</element>
