<element name="gantt-chart" attributes="zoom showZoomControl projectStartDate panStartDate events">
    <template>
        <style>
            @host { 
              * {
                display: block;
                overflow: hidden;
              }
            }
        </style>
        <div id="timeline">
            <gantt-chart-timeline 
                showZoomControl="{{showZoomControl}}"
                panStartTimestamp="{{panStart}}" 
                zoom="{{zoom}}"
                startTimestamp="{{projectStart}}"
                secondsPerPixel="{{secondsPerPixel}}"></gantt-chart-timeline>
        </div>
        <div id="events">
          <gantt-chart-events 
              zoom="{{zoom}}" 
              projectStart="{{projectStart}}"
              panStart="{{panStart}}"
              secondsPerPixel="{{secondsPerPixel}}" 
              events="{{events}}"></gantt-chart-events>
        </div>
    </template>
    <script>
        Polymer.register(this, {
            zoom: 1.0,
            showZoomControl: false,
            projectStart: moment().startOf('month').unix(),
            panStart: moment().startOf('month').unix(),
            secondsPerPixel: 864, // show 1 day as 100px when zoom is 1.0
            projectStartDateChanged: function() {
              this.projectStart = moment(this.projectStartDate).unix();
            },
            panStartDateChanged: function() {
              this.panStart = moment(this.panStartDate).unix();
            }
        });
    </script>
</element>
